/* Hide the content initially */
#content {
  display: none;
}

/* Optional: Style for the loading or placeholder */
#loadingMessage {
  font-size: 20px;
  color: #555;
  text-align: center;
  margin-top: 50px;
}

#selectFileButton {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;

  cursor: pointer;

  font-size: 16px;
}

#selectFileButton:hover {
  background-color: #0056b3;
}
