/* Hide the content initially */
#content {
  display: none;
}

#selectFileButton {
  position: fixed;
  bottom: 20px;
  right: 17px;

  color: #999;

  z-index: 1000;

  cursor: pointer;

  width: 37px;
  height: 37px;
  padding: 5px;
  border-radius: 5px;
}
#button-text {
  color: #5e5e5e;
}

#selectFileButton:hover {
  color: #999;
}
